<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/assets/img/favicons/favicon.ico">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/vendor/bootstrap/static/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/fonts/font-awesome-4.7.0/static/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="static/css/util.css">
	<link rel="stylesheet" href="static/css/mainmedical.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--===============================================================================================-->
</head>
<body>

	<div class="contact1">
		<div class="container-contact1">

			<form action="{{ url_for('heartdisease')}}" method="POST">   
				<div class="wrap-input1 validate-input">
				<label for="first"><strong>Age </strong></label> <input class="input1" id="first" name="age" type="number" required="required"
				style="font-weight: bold"></div>
	
				<div class="wrap-input1 validate-input">
				<label for="second"><strong>Gender (1 = male; 0 = female)</strong></label><select class="input1" name = 'sex' style="font-weight: bold" required>
				   <option value="0">Female</option>
				   <option value="1">Male</option></select></div>
	
				<div class="wrap-input1 validate-input">   
				<label for="third"><strong>Chest Pain Type</strong></label>
				<select name = 'cp' class="input1" style="font-weight: bold" required>
				   <option value="0">0</option>
				   <option value="1">1</option>
				   <option value="2">2</option>
				   <option value="3">3</option>
				 </select></div>
	
				<div class="wrap-input1 validate-input">
				<label for="fourth"><strong>Resting Blood Pressure (in mm Hg) </strong></label> <input class="input1" id="fourth" name="trestbps" type="number" required="required" style="font-weight: bold"></div>
	
				<div class="wrap-input1 validate-input"> 
				<label for="fifth"><strong>Resting Electrocardiographic Results</strong></label> 
				<select name = 'restecg' class="input1" style="font-weight: bold" required>
				   <option value="0">0</option>
				   <option value="1">1</option>
				 </select></div>
	
				<div class="wrap-input1 validate-input"> 
				<label for="sixth"><strong>MaxHeartRate (maximum heart rate achieved eg. 156, 173, 187,...)</strong></label> <input class="input1" id="sixth" name="thalach" type="number" required="required" style="font-weight: bold"></div>
	
				<div class="wrap-input1 validate-input">
				<label for="seventh"><strong>Exercise Induced Angina (0 = No; 1 = Yes)</strong></label>
				<select name = 'exang' class="input1" style="font-weight: bold" required>
				   <option value="0">No</option>
				   <option value="1">Yes</option>
				 </select></div>
	
				<div class="wrap-input1 validate-input">
				<label for="eighth"><strong>STdepression (ST depression induced by exercise relative to rest eg. 0.8, 1.4, 3.5,...) </strong></label> <input class="input1" id="eighth" name="oldpeak" type="number" step="any" required="required" style="font-weight: bold"></div>
	
				<div class="wrap-input1 validate-input">
				<label for="ninth"><strong>Slope of the peak exercise ST segment</strong></label>
				<select name = 'slope' class="input1" style="font-weight: bold" required>
				   <option value="0">0</option>
				   <option value="1">1</option>
				   <option value="2">2</option>
				 </select></div>
	
				<div class="wrap-input1 validate-input">
				<label for="tenth"><strong>Number of major vessels</strong></label>
				<select name = 'ca' class="input1" style="font-weight: bold" required>
				   <option value="0">0</option>
				   <option value="1">1</option>
				   <option value="2">2</option>
				   <option value="3">3</option>
				   <option value="4">4</option>
				 </select></div>
	
			   <div class="wrap-input1 validate-input">
			   <label for="eleventh"><strong>Thalassemia (1=Normal; 2=Fixed Defect; 3=Reversable)</strong></label>
			   <select name = 'thal' class="input1" style="font-weight: bold" required>
				   <option value="1">Normal</option>
				   <option value="2">Fixed Defect</option>
				   <option value="3">Reversable</option>
				 </select></div>
				<br><br>
				<button class="btn btn-success" id="sub" type="submit ">Predict</button>
			</form>
		</div>
	</div>
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

</body>
</html>
