<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vivid Health</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="static/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="static/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="static/assets/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block navbar-klean" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="index.html"> <img class="me-3 d-inline-block" src="static/assets/img/gallery/logo.png" alt="" /></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-medium active" aria-current="page" href="#home">Home</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#features">Features</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#health">Run Diagnostics</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#team">Team</a></li>
              <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section id="home">
        <div class="bg-holder d-none d-md-block bg-size" style="background-image:url(static/assets/img/illustrations/hero.png);background-position:right bottom;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder" style="background-image:url(static/assets/img/illustrations/heroheader-bg.png);background-position:center;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container" style="margin-top: -30px">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-6 py-6 text-sm-start text-center">
              <h1 class="fw-bold display-4 fs-4 fs-lg-6 fs-xxl-7 text-gradient"> Vivid Health</h1>
              <h1 class="text-700">Reach your health potential. <span class="fw-bold"></span></h1>
              <p class="mb-5 fs-0">Vivid Health offers you a platform where you can diagnose <br> your health easily.  <br class="d-none d-lg-block" /></p><a class="btn hover-top btn-glow btn-klean" href="#health">Run Diagnostics</a>
            </div>
          </div>
        </div>
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 circle-blend circle-blend-right circle-warning" id="features">

        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center py-7">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Features</h5>
              <p class="mb-0">We offer with various features to make the platform quite handy to ensure client satisfaction.</p>
            </div>
          </div>
          <div class="bg-holder" style="background-image:url(static/assets/img/illustrations/service.png);background-position:bottom center;background-size:contain;">
          </div>
          <!--/.bg-holder-->

          <div class="row flex-center">
            <div class="col-xl-9">
              <div class="row justify-content-center circle">
                <div class="col-md-4 mb-4">
                  <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                    <div class="text-center"><img class="my-5" src="static/assets/img/icons/text.png" width="100" alt="services" />
                      <div class="card-body text-center text-md-start">
                        <h6 class="fw-bold fs-1">Available 24x7</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Customer can access the platform anytime from anywhere with ease.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                    <div class="text-center"><img class="my-5" src="static/assets/img/icons/organized.png" width="100" alt="services" />
                      <div class="card-body text-center text-md-start">
                        <h6 class="fw-bold fs-1">Well Optimized</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Latest technology and Improved AI Engines, Fast Servers and highly optimized algorithms.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                    <div class="text-center"><img class="my-5" src="static/assets/img/icons/statistics.png" width="100" alt="services" />
                      <div class="card-body text-center text-md-start">
                        <h6 class="fw-bold fs-1">Result Accuracy</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Provides instant and faster results, and keeps your data in sync.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4">
                  <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                    <div class="text-center"><img class="my-5" src="static/assets/img/icons/text.png" width="100" alt="services" />
                      <div class="card-body text-center text-md-start">
                        <h6 class="fw-bold fs-1">Data Security</h6>
                        <p class="mt-3 mb-md-0 mb-lg-3">Data of the Customer remains secure within the database and can only be accessed with p .</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="py-5 circle-blend circle-blend-right-feature circle-cyan" id="health">
        <div class="bg-holder" style="background-image:url(static/assets/img/illustrations/feature-bg.png);background-position:right;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row justify-content-center mb-6">
            <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Diagnostics</h5>
              <p class="mb-0">We provide a number of excellent features that will undoubtedly improve the user experience.</p>
            </div>
          </div>
          <div class="row circle-blend circle-blend-left-feature circle-primary">
            <div class="col-md-4 mb-6">
              <div class="text-center px-lg-3">
                <div class="icon-wrapper shadow-danger">
                  <div class="icon icon-danger"><a href="{{ url_for('breastcancer')}}" ><img src="static/assets/img/icons/breast.png" width="50px" height="50px"></a></div>
                </div>
                <h5 class="mt-3 fw-bold">Breast Cancer</h5>
                <p class="mb-md-0 px-xxl-6">Diagnose for Breast cancer(female)</p>
              </div>
            </div>
            <div class="col-md-4 mb-6">
              <div class="text-center px-lg-3">
                <div class="icon-wrapper shadow-primary">
                  <div class="icon icon-primary"><a href="{{ url_for('heartdisease')}}" ><img src="static/assets/img/icons/heart.png" width="50px" height="50px"></a></div>
                </div>
                <h5 class="mt-3 fw-bold">Heart Disease</h5>
                <p class="mb-md-0 px-xxl-6">Check if your heart is keeping up with the beats.</p>
              </div>
            </div>
            <div class="col-md-4 mb-6">
              <div class="text-center px-lg-3">
                <div class="icon-wrapper shadow-warning">
                  <div class="icon icon-warning"><a href="{{ url_for('liverdisease')}}" ><img src="static/assets/img/icons/liver.png" width="50px" height="50px"></a></div>
                </div>
                <h5 class="mt-3 fw-bold">Liver Disease</h5>
                <p class="mb-md-0 px-xxl-6">Check if your liver health is making you a long-liver.</p>
              </div>
            </div>
            <div class="col-md-4 mb-6">
              <div class="text-center px-lg-3">
                <div class="icon-wrapper shadow-success">
                  <div class="icon icon-success"><a href="{{ url_for('malariadisease')}}" ><img src="static/assets/img/icons/maleria.png" width="50px" height="50px"></a></div>
                </div>
                <h5 class="mt-3 fw-bold">Maleria</h5>
                <p class="mb-md-0 px-xxl-6">Diagnose to check for symptoms of malaria. </p>
              </div>
            </div>
            <div class="col-md-4 mb-6">
              <div class="text-center px-lg-3">
                <div class="icon-wrapper shadow-secondary">
                  <div class="icon icon-secondary"><a href="{{ url_for('pneumoniadisease')}}" ><img src="static/assets/img/icons/lungs.png" width="50px" height="50px"></a></div>
                </div>
                <h5 class="mt-3 fw-bold">Pneumonia</h5>
                <p class="mb-md-0 px-xxl-6">Diagnose symptoms of pneumonia.</p>
              </div>
            </div>
          </div>
        </div>
      </section>



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0" id="contact">

        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-xxl-5 mx-auto text-center mt-5">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-5">Contact Us</h5>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section class="py-5 mb-8">
        <div class="bg-holder" style="background-image:url(static/assets/img/illustrations/contact-us-bg.png);background-position:left bottom;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-lg-5 mb-5">
              <div class="card card-bg p-2">
                <div class="card-body">
                  <form>
                    <div class="row mb-3 input-group-icon">
                      <label class="col-sm-2 col-form-label visually-hidden" for="inputName">Name</label>
                      <div class="col-sm-12">
                        <input class="form-control rounded-pill border-white input-box" id="inputName" type="text" placeholder="Write your name" />
                        <svg class="bi bi-person-fill input-box-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="row mb-3 input-group-icon">
                      <label class="col-sm-2 col-form-label visually-hidden" for="inputEmail3">Email</label>
                      <div class="col-sm-12">
                        <input class="form-control rounded-pill border-white input-box" id="inputEmail3" type="email" placeholder="Write your email" />
                        <svg class="bi bi-envelope-fill input-box-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="row mb-3 input-group-text-icon">
                      <label class="col-sm-2 col-form-label visually-hidden" for="floatingTextarea2">Comments</label>
                      <div class="col-sm-12">
                        <textarea class="form-control rounded-3 border-white input-box" id="floatingTextarea2" placeholder="Write your message" style="height: 150px"></textarea>
                        <svg class="bi bi-pencil-fill input-box-text-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                        </svg>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="d-grid">
                          <button class="btn hover-top btn-glow btn-klean rounded-pill" type="submit">Submit </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="d-flex align-items-center mb-5">
                <div class="icon icon-primary"><span data-feather="phone"></span></div>
                <div class="flex-1 ms-3">
                  <p class="fw-bold mb-0">Phone </p>
                  <p>+91 123456789</p>
                </div>
              </div>
              <div class="d-flex align-items-center mb-5">
                <div class="icon icon-primary"><span data-feather="mail"></span></div>
                <div class="flex-1 ms-3">
                  <p class="fw-bold mb-0">Email</p>
                  <p>teamnexustech@gmail.com </p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="icon icon-primary"><span data-feather="map-pin"></span></div>
                <div class="flex-1 ms-3">
                  <p class="fw-bold mb-0">Location</p>
                  <p>Dwarka,<br />Delhi,  <br />India</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="pb-0 pt-6">
        <div class="bg-holder" style="background-image:url(static/assets/img/illustrations/footer-bg.png);background-position:center;background-size:cover;">
        </div>
        <!--/.bg-holder-->
        <div class="container">
          <hr class="text-100 mb-0" />
          <div class="row justify-content-md-between justify-content-evenly py-3">
            <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
              <p class="fs--1 my-2 fw-bold">All rights Reserved &copy; Hack4Fun, 2021</p>
            </div>
            <div class="col-12 col-sm-8 col-md-6">
              <p class="fs--1 my-2 text-center text-md-end"> Made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#EB6453" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="fw-bold text-500" href="#" target="_blank">Hack4Fun </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="static/assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
  </body>

</html>